body {
    background-color: antiquewhite;
    font-family: poppins, helvetica, arial, sans-serif;
    font-size: 16px;
    color: darkolivegreen;

}
#nav-background {
    background-color: olive;
    border-radius: 0%;
    border: 0;
    height: 80px;
}
.navbar-brand {
   /* float: none; */
    padding: 0%;
}
.navbar-brand h1 {
    color: antiquewhite;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
button .glyphicon-th-list {
    font-size: 2em;
    color: antiquewhite;
}
.navbar-header button.navbar-toggle {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid antiquewhite;
}
#nav-items a {
    text-align: center;
    color: antiquewhite;
}
h2 {
    text-align: center;
}
section h3 {
    text-align: center;
}
section {
    background-color: gainsboro;
    height: 1000px;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    #nav-ul li {
        background-color: olive;
    }
    #nav-ul hr {
        border: 1px solid antiquewhite;
        margin: 0;
    }
}