body {
    background-color: ivory;
    font-family: Helvetica, sans-serif;
}
h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
}

.row div p {
    text-align: justify;
    border: 2px solid black;
    position: relative;
    padding: 10px;
    margin: 0;
    background-color: #ccafa5;
}

p span {
    border: 2px solid black;
    font-weight: bold;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #bdc3cb;
}

.container-fluid {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    padding: -15px;
    box-sizing: border-box;
}

.col-lg-4, .col-md-6, .col-md-12, .col-sm-12 {
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}